<% include ../partials/header%>

    <div class="body">
        <section class="introAbout container">
            <header class="jumbotron">
            <div class="container">
            <h1 >Understaing Earthquake</h1>
            </div>
            </header>
           

        </section>
        
        <section class="article">
            <h4>What is Earthquake</h4>
            <p>
                <strong><span>Earthquake</span></strong>, any sudden shaking of the ground caused by the passage of seismic waves through Earth’s rocks. Seismic waves are produced when some form of energy stored in Earth’s crust is suddenly released, usually when masses of rock straining against one another suddenly fracture and “slip.” Earthquakes occur most often along geologic faults, narrow zones where rock masses move in relation to one another. The major fault lines of the world are located at the fringes of the huge tectonic plates that make up Earth’s crust.
                
            </p>
            <p>
                About 50,000 earthquakes large enough to be noticed without the aid of instruments occur annually over the entire Earth. Of these, approximately 100 are of sufficient size to produce substantial damage if their centres are near areas of habitation. Very great earthquakes occur on average about once per year. Over the centuries they have been responsible for millions of deaths and an incalculable amount of damage to property.
            </p>
        </section>
        <section class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/cavq2HFBa-U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        
    </div>
    
<% include ../partials/footer%>