<% include ../partials/header%>
    
    <div class="body">
        <section class="intro container">
            <header class="jumbotron">
            <div class="container">
                       <h1>How to Escape</h1>
            </div>
            </header>
        </section>
        <section class="article">
            <h4>Prepare NOW</h4>
            <p>Secure items, such as televisions, and objects that hang on walls. Store heavy and breakable objects on low shelves.</p>
            <p>
                Practice Drop, Cover, then Hold On with family and coworkers. Drop to your hands and knees. Cover your head and neck with your arms. Crawl only as far as needed to reach cover from falling materials. Hold on to any sturdy furniture until the shaking stops.
            </p>
            <p>
                Create a family emergency communications plan that has an out-of-state contact. Plan where to meet if you get separated.
            </p>
            <p>
                Make a supply kit that includes enough food and water for at least three days, a flashlight, a fire extinguisher, and a whistle. Consider each person’s specific needs, including medication. Do not forget the needs of pets. Have extra batteries and charging devices for phones and other critical equipment.
            </p>
            <h4>
                Survive DURING
            </h4>
            <p>
                Drop, Cover, then Hold On like you practiced. Drop to your hands and knees. Cover your head and neck with your arms. Hold on to any sturdy furniture until the shaking stops. Crawl only if you can reach better cover without going through an area with more debris.
            </p>
            <p>
                If in bed, stay there and cover your head and neck with a pillow.
            </p>
            <p>
                If inside, stay there until the shaking stops. DO NOT run outside.
            </p>
        </section >

        <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BLEPakj1YTY?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        
    </div>
    
<% include ../partials/footer%>