<% include ../partials/header%>
    
    <div class="body">
        <section class="intro container">
            <header class="jumbotron">
            <div class="container">
                        <h1>How to Prevent</h1>
            </div>
            </header>      
           

        </section>
        
        <section class="article">
            <h4>Make Your Home More Earthquake-resistant</h4>
            <p>1. Brace cripple walls: Cripple walls rest against the foundation and support the floor and exterior walls of a home. Earthquakes can shift cripple walls, so experts recommend bracing them. Add 2-inch by 4-inch boards between the vertical studs at the top and bottom of a cripple wall. Make sure to check with your local building officials to see if you need a permit for this type of work.</p>
            <p>
                2. Bolt sill plates to foundation: A sill plate rests on top of the foundation. An earthquake can cause a sill plate to slide if not anchored properly. Install bolts long enough to penetrate through the plate and several inches into the foundation every few feet along the base of the exterior walls. This work must be done by a licensed contractor. The cost typically ranges between $50 to $70 per bolt, depending on the type of foundation. So a structure with a perimeter of 180 feet, which would require a minimum of 30 bolts, would cost between $1,500 to $2,250.
            </p>
            <p>
               
3. Build better walls: Whether you plan to build your own home from scratch or retrofit your existing home, you have options for making the walls more earthquake-resistant. If your building plans include masonry infill walls, which tend to collapse in an earthquake, adding steel reinforcements can help avoid significant structural problems. As an alternative, you could leave space between the walls and the building frame, allowing for some drift as the building moves during a quake.
            </p>
            <p>
                4. Install rounded windows: A building’s framework sways during an earthquake, causing a shift in window frames. As pressure increases, window corners start to crack and chip. You can likely preserve your windows by rounding out the corners.
            </p>

            <p>
                6. Anchor larger equipment, appliances and furniture: Take note of larger items such as bookshelves and entertainment centers, as well as ceiling and wall hangings. Use flexible fasteners to secure these items. Also, make sure plumbers installed flexible connectors on all gas appliances. Bolt down large appliances such as the water heater and refrigerator.
            </p>

        </section >

        <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/c4fKBGsllZI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        
    </div>
    
<% include ../partials/footer%>