 <% include ../partials/header%>
    
    <div class="body">
                <section class="intro container">
            <header class="jumbotron">
            <div class="container">
                       <h1>How to Reconstruction</h1>
            </div>
            </header>
        </section>
        

        <section class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6FUfSnfqbZ4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        
    </div>
    
<% include ../partials/footer%>